<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="Meta Lightbox" />
		<meta name="author" content="Tony Air" />
		<title>Meta-lightbox Demo</title>
		<style>
			.wrapper {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<h1>Meta-lightbox Demo</h1>
			NODE_ENV: <%= NODE_ENV %> <%=
			require('html-loader!./html/meta-lightbox.html') %>
			<div id="App"></div>
		</div>

		<!-- React is required -->
		<%= REACT_SCRIPTS %>

		<!-- That's optional dependencies -->

		<!-- jQuery -->
		<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script -->

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
		/>
	</body>
</html>
